<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>Attractions</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" layout:fragment="content">
            <h1 class="text-center">BUDAPEST ATTRACTIONS</h1>
            <div class="col-xs-12" style="height:30px;"></div>
            <table class="table table-borderless">
            </table>
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Attractions</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-list">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>City</th>
                            <th>Price</th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                            <th>Category</th>
                            <th>Duration</th>
                            <th>RecommendedAge</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                        <tr th:each="attraction : ${list}">
                            <td th:text="${attraction.attrName}"></td>
                            <td th:text="${attraction.city}"></td>
                            <td th:text="${attraction.price}"></td>
                            <td th:text="${attraction.longitude}"></td>
                            <td th:text="${attraction.latitude}"></td>
                            <td th:text="${attraction.category}"></td>
                            <td th:text="${attraction.duration}"></td>
                            <td th:text="${attraction.recommendedAge}"></td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                </div>
            </div>
            <form action="#" th:action="@{/add}" th:object="${newAttr}" method="post">
                <div>
                    <input type="hidden" th:field="*{id}" >
                    <label for="nameLb">Name: </label>
                    <input type="text" id="nameLb" name = "attrName" th:field="*{attrName}" required>
                </div>
                <div>
                    <label for="cityLb">City: </label>
                    <input type="text" id="cityLb" name = "city" th:field="*{city}" required>
                </div>
                <div>
                    <label for="priceLb">Price: </label>
                    <input type="text" id="priceLb" name = "price" th:field="*{price}" required>
                </div>
                <div>
                    <label for="longLb">Longitude: </label>
                    <input type="text" id="longLb" name = "longitude" th:field="*{longitude}" required>
                </div>
                <div>
                    <label for="latiLb">Latitude: </label>
                    <input type="text" id="latiLb" name = "latitude" th:field="*{latitude}" required>
                </div>
                <div>
                    <label for="catLb">Category: </label>
                    <input type="text" id="catLb" name = "category" th:field="*{category}" required>
                </div>
                <div>
                    <label for="durLb">Duration: </label>
                    <input type="text" id="durLb" name = "duration" th:field="*{duration}" required>
                </div>
                <div>
                    <label for="recLb">Recommended Age: </label>
                    <input type="text" id="recLb" name = "recommendedAge" th:field="*{recommendedAge}" required>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>