<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" />
    <title>Todo Crud App</title>
</head>
<body>
<h1>Add New Todo</h1>
<form action="#" th:action="@{addtodo}" th:object="${newTodo}" method="post" >
    <input type="text" name="title" th:field="*{title}">
    <input type="submit" value="Submit">
</form>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>