<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
</head>
<body>
<h1>Bank Accounts in Simbank</h1>
<div>
<table border='1' style='border-collapse:collapse'>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>BALANCE</th>
        <th>ANIMAL TYPE</th>
        <th>IS KING?</th>
        <th>GOOD OR BAD?</th>

    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${accountStat.count}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.balance}"></td>
        <td th:text="${account.animalType}"></td>
        <td  th:if="${account.name} == 'Simba'">Yes</td>
        <td  th:unless="${account.name} == 'Simba'">No</td>
        <td  th:if="${account.name} == 'Scar'">Bad Guy</td>
        <td  th:unless="${account.name} == 'Scar'">Good One</td>
    </tr>
</table>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>