<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Donation</title>
</head>
<body>
<h1>Donation to the Animals</h1>
<div>
    <form action="#" th:action="@{donation}" method="POST" >
        <label for="selectA"> Choose an Animal to donate to: </label>
        <select id="selectA" name = "animalacc" >
            <option th:each="account : ${accounts}" th:value="${account.name}" th:text="${account.name}" ></option>
        </select>
        <input type="submit" value="Donate">
    </form>
</div>
</body>
</html>