body {
    font-family: 'Montserrat', monospace;
    background-color: dimgrey;
}

main {
    margin: auto;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 45px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
    height: 320px;
    margin: auto;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:last-child {
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
}

td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}


