<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body>
<div>
    <ul>
        <li><a href="/">Information</a></li>
        <li th:if="${fox != null}"><a th:href="@{'/nutritionStore?name=' + ${fox.name}}">NutritionStore</a></li>
    </ul>
</div>
<div>
    <img th:src="@{'/greenfox.png'}">
</div>
<div>
    <span th:text="${fox != null} ? 'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows ' + ${#lists.size(fox.tricks)} + ' tricks.'
    : 'You need to login to see informations about your fox.'"></span>
</div>

<div th:if="${fox != null}">
    <h1>Known Tricks</h1>
    <ul>
        <li th:each="trick : ${fox.tricks}" th:text="${trick}"></li>
    </ul>
</div>


</body>
</html>