<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body>
<div>
    <ul>
        <li>
            <a href="/index.html">Information</a>
        </li>
    </ul>
</div>
<div>
    <img th:src="@{'/greenfox.png'}">
</div>
<div>
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
</div>
<div>
    <h1>Known Tricks</h1>
</div>
<div>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</div>
</body>
</html>