<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Useful stuff</title>
</head>
<body>
    <h1>Useful Stuff</h1>
    <div>
        <a href="/useful/colored">Colored Background</a>
    </div>
    <div>
        <a href="/useful/email?email=peter@valid.e">Email Validation</a>
    </div>
    <h2>Ceasars coding</h2>
    <a href="useful/encode?text=message&number=1">Encode</a>
    <a href="useful/decode?text=nfttbhf&number=1">Decode</a>
</body>
</html>